<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Document</title>
    <link rel="stylesheet" href="/css/employee_dashboard.css">
</head>
<body>
    <nav>
        <div class="nav_logo">
            <img src="assets/logo.png" alt="logo">
            <p>Codyaan</p>
        </div>
        <div class="nav_list">
            <div>Home</div>
            <div class="active"><a href="/employeeDashboard">Dashboard</a></div>
            <div>FAQs</div>
            <div><a href="/employeeProfile">Profile</a></div>
        </div>
    </nav>
    <section>
        <div class="sidebar">
            <h2>Graviences</h2>
            <div class="graviences">
                <form>
                    <p class="complaint_name">Lorem ipsum dolor sit amet consectetur </p>
                    <status><img src="assets/peding.png" alt=""></status>
                </form>
                <form>
                    <p class="complaint_name">Lorem fiejfe iejfeifjei f </p>
                    <status><img src="assets/completed.png" alt=""></status>
                </form>
                <form class="active">
                    <p class="complaint_name">Lorem frojrit rigjrigjri gr </p>
                    <status><img src="assets/peding.png" alt=""></status>
                </form>
                <form>
                    <p class="complaint_name">Lorem ifeoire eo ie vheu </p>
                    <status><img src="assets/completed.png" alt=""></status>
                </form>
                <form>
                    <p class="complaint_name">Lorem ipsvrfhrf feiur eire</p>
                    <status><img src="assets/completed.png" alt=""></status>
                </form>
            </div>
        </div>
        <div class="gravience">
            <h3 id="complaint"></h3>
            <div class="brief card">
                <h4>Brief :</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad soluta dicta necessitatibus, eaque
                    rem accusamus amet rerum cum, nam dolor porro dolores, adipisci repellendus voluptatem natus
                    officia quidem non. Esse.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, error.
                </p>
            </div>
            <div class="user_details card">
                <h4>User Details :</h4>
                <div>
                    <p class="heading">Name</p>
                    <p class="text">Aryan Srivastava</p>
                    <p class="heading"> Class</p>
                    <p class="text">5th</p>
                    <p class="heading">Bank</p>
                    <p class="text">SBI</p>
                    <p class="heading">Branch</p>
                    <p class="text">Noida</p>
                    <p class="heading">Account Number</p>
                    <p class="text">101202020330</p>
                    <p class="heading"></p>
                    <p class="text"></p>
                </div>
            </div>
            <div class="documents card">
                <h4>Documents :</h4>
                <div>
                    <div class="document">
                        <img src="assets/document.png">
                        <p>Aadhar</p>
                    </div>
                    <div class="document">
                        <img src="assets/document.png">
                        <p>Passbook</p>
                    </div>
                    <div class="document">
                        <img src="assets/document.png">
                        <p>Pan card</p>
                    </div>
                    <div class="document">
                        <img src="assets/document.png">
                        <p>Aadhar</p>
                    </div>
                </div>
            </div>
            <div class="gravience_button">
                <button type="submit" class="completed">Mark as completed</button>
                <button type="submit" class="authority">Forward to higher Authority</button>
            </div>
        </div>
    </section>
</body>
<script src="/js/employee_dashboard.js"></script>

</html>