@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap&family=Alkalami&family=Secular+One&display=swap&family=Lato:wght@900&display=swap&family=Titillium+Web:wght@900&display=swap&family=Aclonica:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.4s;
  font-family: 'Poppins',sans-serif;
}
:root{
    --aclonica: 'Aclonica', sans-serif;
    --bungee: 'Bungee Spice', Copperplate, Papyrus, fantasy, cursive;
}
body {
  background-color: rgb(255, 255, 255);
  max-height: 100vh;
  max-width: 100vw;
}
header {
  height: 8vh;
  height: 8svh;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 100%;
  margin-top: 2em;
  padding:0 5em;
  position: relative;
}
.logo p {
  position: absolute;
  padding: 4em;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(37, 37, 37);
  font-family: var(--aclonica)
}
.logo img {
  /* background-color: aliceblue; */
  height: 10vh;
  object-fit: contain;
  mix-blend-mode: difference;
}
section {
  height: 90vh;
  height: 90svh;
}
.main {
  display: grid;
  place-items: center;
}
container {
  height: 80%;
  width: 60%;
  background-color: rgb(250, 214, 214);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;
}
.card-img {
  background-color: #f26522;
  color: white;
  display: grid;
  place-items: center;
}
.log-in-text,
.sign-up-text {
  height: 10%;
}

.form {
  padding: 3em 2em;
}
.form-text {
  margin-top: 0.3em;
  width: 90%;
  display: grid;
  grid-auto-rows: 2em 3em;
  gap: 10px;
  /* justify-content: center; */
}
form div{
    font-size: .8em;
    text-align: center;
}
.form-text > p {
  align-self: end;
}
.disabled {
  display: none;
}
.input::placeholder {
  font-size: 1.1em;
}

.input {
  font-size: 0.8em;
  background-color: rgb(246, 246, 246);
  border: none;
  border-radius: 5px;
  padding: 0 2vh;
  color: rgb(0, 0, 0);
}

.input:focus,
.input {
  outline: rgba(46, 46, 46, 0.582) solid 2px;
  border: none;
}

.input:not(:placeholder-shown) {
  outline: none;
  background-color: rgb(66, 66, 66);
  color: rgb(255, 255, 255);
}

.input:not(:placeholder-shown):focus {
  outline: rgba(255, 255, 255, 0.459) solid 2px;
}
.log-in .form button {
  grid-row-start: 5;
  grid-row-end: 8;
}
.sign-up .form button {
  grid-row-start: 23;
  grid-row-end: 25;
}
body:has(.selected) .sign-up .form button {
  grid-row-start: 25;
  grid-row-end: 27;
}
.form button {
  border-radius: 5px;
  height: 55px;
  width: max-content;
  justify-self: center;
  align-self: center;
  padding: 0 2em;
  font-size: clamp(1em, 1.5vw, 1.5em);
  background-color: #f26522;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sign_up_link {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
.sign-up .form {
  overflow-y: scroll;
  height: 80%;
/*   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}
.sign-up .login-link {
  position: absolute;
  top: 90%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.bank_name {
  display: none;
}
